# Environment
.env

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Linters / Testing cache
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Claude
.claude/

# OS
Thumbs.db
.DS_Store

# Temp files
*.tmp
image.png
